:root {
    --pink: #EDA3B5;
    --white: #FFFFFF;
    --black: #1B2437;
    --gray1: #EFEFF4;
    --gray2: #E5E5EA;
    --gray3: #C7C7CC;
    --gray4: #48484A;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 900px;
}

.product-group1{
    width: 50%;
}

.product-storage{
    margin-top: 20px;
}

.product-group2{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.product-price{
    margin: 0;
    padding-right: 10px;
}

.product-title{
    width: 100%;
}

.product-description {
    max-width: 400px;
}

.product-btn{
    border-radius: 10px;
    padding: 5px;
    border: var(--pink) solid 2px;
    color: var(--white);
    font-size: 1.2em;
    background-color: var(--pink);
    margin: 0 5px;
}

.product-btn:hover{
    cursor: pointer;
}

.p-btn2{
    background-color: var(--white);
    color: var(--pink);
}

.product-img {
    width: 50%;
}
/* ----------- Ratings CSS ------------ */

.ratings-container{
    margin-top: 20px;
    padding: 10px;
   
}

.rating-stars{
    color: var(--pink);
}

/* ----------- Checkout CSS ------------ */

.checkout-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.checkout-container{
    margin: auto;
    max-width: 900px;
    padding-bottom: 30px;
} 

.input-group{
    max-width: 450px;
}

.short-input{
    width: 230px !important;
}


.checkout-input-title{
    width: 100%;
    display: inline-block;
}

.checkout-input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    border: var(--gray3) solid 1px;
}

.card-details-container{
    box-shadow: 3px 3px 15px var(--gray4);
    margin: auto;
    margin-top: 30px;
    color: var(--white);
    padding: 10px;
    border-radius: 20px;
    background-color: var(--pink);
    max-width: 400px;
    text-align: center;
}

.card-details-input{
    margin: 0 2px;
    max-width: 70px;
    padding: 5px;
    border-radius: 10px;
    border: var(--gray3) solid 1px;
}

.submit-purchase-button{
    margin-top: 30px;
    border-radius: 10px;
    padding: 5px;
    border: var(--gray3) solid 5px;
    color: var(--white);
    font-size: 1.2em;
    background-color: var(--gray3);
}

.submit-purchase-button:hover{
    cursor: pointer;
}

.submit-button-container{
    display: flex;
    justify-content: end;
    width: 100%;
}

.checkout-product{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: var(--gray3) 1px solid;
}

.checkout-success-message{
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.success-message-container{
    height: 60vh;
}

/* ----------- Footer CSS ------------ */

.footer{
    width: 100%;
    border-top: solid var(--gray3) 1px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 30px 10px;
}

.footer-links > ul {
    padding: 0;
    list-style-type: none;
}

.footer-links > ul > li {
    color: var(--gray4);
    padding: 2px;
}

.footer-input{
    padding: 5px;
    border-radius: 10px;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    font-size: 1.2em;
    border: var(--gray3) solid 1px;
}
  
.footer-button{
    border-radius: 10px;
    padding: 5px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border: var(--pink) solid 1px;
    color: var(--white);
    font-size: 1.2em;
    background-color: var(--pink);
}

.footer-button:hover{
    cursor: pointer;
}


/* Header styles*/

header {
    margin: auto; /* <-- Detta har jag satt in, det centrerar navbaren men verkar inte helt 100% symmetriskt // Celli */
    align-content: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    max-width: 1200px;
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }
  
  .logo-image {
    margin-right: 1rem;
  }
  
  nav {
    margin: auto; /* <-- Detta har jag satt in, verkar fungera fint // Celli */
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
  }
  
  .navigation-links {
    display: flex;
    list-style: none;
    align-self: center;
  }
  
  .navigation-links li {
    margin-right: 1rem;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  .shopping-cart-button {
    border: none;
    background-color: transparent;
    padding: 1rem;
    
  }
  
  .shopping-cart-wrapper {
    align-self: center;
  }
  
  .header-media-links {
    display: flex;
    list-style: none;
    align-self: center;
    padding: 1rem;
  }
  
  .header-media-links li {
    margin-right: 1rem;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
    
    .header-media-links {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
  }
  
  /* Header styles end */
  
  /* Products card styles */
  
  .product-list-container {
    align-self: center;
    width: 100%;
  }
  
  .products-h2-heading {
    padding: 1rem;
    margin-left: 1rem;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    width: 300px;
    height: 450px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem
  }
  
  .product-card-image {
    max-width: 90%;
    height: 200px;
    
  }
  
  .add-to-cart-button {
    border-radius: 10px;
    padding: 5px;
    border: #EDA3B5 solid 2px;
    color: #FFFFFF;
    font-size: 1rem;
    background-color: #EDA3B5;
    margin: 5px;
  }
  
  .add-to-cart-button:hover{
    cursor: pointer;
  }
  
  .add-to-cart-button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  
  .link-to-single-product {
    padding: 5px;
    text-decoration: underline;
  }
  
  /* Products card styles end */
  
  /* Cart styles */
  
  .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .cart-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    padding: 2rem;
    border: solid 3px #EDA3B5;
    border-radius: 1rem;
    z-index: 3;
    overflow-y: scroll;
    opacity: 1;
    transition: all 300ms ease-in-out;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .cart-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cart-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .cart-wrapper p {
    padding: 1rem;
  }
  
  .cart-total {
    font-size:1.5rem;
  }
  
  .cart-product-image {
    height: 4rem;
    max-width: 6rem;
    padding: 1rem;
  }
  
  .single-cart-product {
    display: flex;
    align-items: center;
  }
  
  .cart-buttons {
    border-radius: 10px;
    padding: 0.5rem;
    border: #EDA3B5 solid 2px;
    color: #FFFFFF;
    font-size: 1rem;
    background-color: #EDA3B5;
    margin: 1rem;
    width: 7rem;
  }
  
  .cart-buttons:hover{
    cursor: pointer;
  }
  
  .cart-buttons:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
  
  .cart-link-to-checkout {
    text-decoration: underline;
    padding: 1rem;
  
  }
  
  /* Cart styles end */

/* Slider Styles */

.carousel {
    cursor: grab;
    overflow: hidden;
}

.carousel-single-item {
    min-height: 17rem;
    min-width: 17rem;
    padding: 1rem;
}

.carousel-single-item img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

/* Slider Styles End */